<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>DataDate</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<script src="js/libraries/jquery-2.1.0.js" type="text/javascript"></script>
  	<script src="js/libraries/jquery.flot.min.js" type="text/javascript"></script>
	<script src="js/libraries/jquery.flot.categories.js" type="text/javascript"></script>
	<script src="js/std-components.js" type="text/javascript"></script>
	<script src="js/flot-performance.js" type="text/javascript"></script>
	<script src="js/collect-links.js" type="text/javascript"></script>
	<script src="flickr.js" type="text/javascript"></script>
	</head>
<body>
 	<header>
 		<div id="siteheader"></div>
   	</header>

   	<div class="wrapper">
	   	<div class="container">
		    <h2>Waarom DataDate?</h2>
		    <p>
		    	De bijzonderheid in onze site is dat ons dating paradigma gebaseerd is op een unieke en wetenschappelijk correct bewezen profilerings- en matching techniek die zowel de persoonlijkheid als de lifestyle in de "dating equation" meeneemt en leert van de voorkeuren van de gebruiker om de dating ervaring te optimaliseren. Tot op zekere hoogte is dit al eens eerder vertoond (BrandDating.nl voor dating op basis van lifestyle - deze site is kennelijk wegen succes beëindigd - en Parship voor dating op basis van persoonlijkheid), maar wij hebben niet alleen betere technologieën; we combineren ook nog eens deze systemen en breiden ze uit met "playing field changing" zelflerende functionaliteit.
		    </p>
		</div>
	</div>
    <footer>
    	<div id="sitefooter"></div>
    </footer>
</body>
</html>