body{
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(247,247,247);
	font-size: 17px;
	letter-spacing: 0.5px;
	line-height: 1.3em;
}

.wrapper .container{
	width: 960px;
	margin: auto;
	padding: 0 0 50px;
	overflow: hidden;
}

.container h2{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: center;
	color: rgb(120,120,120);
}

#siteheader{
	height: 70px;
	line-height: 70px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
	background-color: #E85554;
	position: fixed;
	z-index: 2;
}
#homeheader{
	background-image: url('../images/EttVenter_33.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 800px;
	width: 100%;
}
.navbar{
	width: 960px;
	margin: auto;
	text-align: center;
	color: rgb(230,230,230);
}
	.navbar > #logo > a{
		font-size:25px;
		letter-spacing: 1px;
		padding: 0;
		float: left;
	}
	.navbar > #logo > a:hover{
		color: rgb(230,230,230);
	}
	.navbar ul{
		float: right;
	}
	.navbar a{
		padding: 15px 15px;
		letter-spacing: 1px;
		color: rgb(230,230,230);
	}
	.navbar a:hover{
		color: #E85554;
	}
	.navbar > ul > li{
		display: inline;
		font-weight: 400;
		font-size: 17px;
		float: left;
	}
		.navbar ul ul { 
			border-radius: 0px;
			position: absolute; 
			top: 100%;
			display: none;
			visibility: hidden;
		}	
		.navbar ul li:hover > ul {
			display: block;
			visibility: visible;
		}
		.navbar ul ul li {
			float: none; 
			border-top: 1px solid rgb(50,50,50);
			position: relative;
			text-align: left;
			background-color: rgb(70,70,70);
		}
		.navbar ul ul li:first-child{
			border-top: 2px solid #E34C26;
		}

footer{
	background-color: rgb(50,50,50);
	width: 100%;
	padding: 40px;
}
footer p{
	color: rgb(230,230,230);
	font-weight: 300;
	font-size: 15px;
	float: left;
}
#sitefooter{
	width: 960px;
	margin:auto;
	overflow: hidden;
}
#sitefooter a{
	font-weight: 300;
	margin-right: 10px;
	color: rgb(230,230,230);
}
#sitefooter a:hover{
	color: #E85554;
}
.profielen{
	width: 100%;
}
.profiel{
	width: 320px;
	height: 200px;
	background-color: red;
	float: left;
}
.profiel figure{
	float: left;
}
.profiel ul{
	overflow: hidden;
	padding-left: 20px;
}
.profiel ul li:first-child{
	font-weight: 600;
	letter-spacing: 3px;
	color: rgb(100,100,100);
}

