body{
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(247,247,247);
	font-size: 17px;
	letter-spacing: 0.5px;
	line-height: 1.3em;
}

h4{
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: bold;
}

.wrapper .container{
	width: 960px;
	margin: auto;
	padding: 70px 0 50px;
	overflow: hidden;
}


.container h2{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: center;
	color: rgb(120,120,120);
}

.container #waarom{
	margin-top: 0em;
}

#siteheader{
	height: 70px;
	line-height: 70px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
	background-color: #E85554;
	position: fixed;
	z-index: 2;
}
#homeheader{
	background-image: url('../images/EttVenter_33.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 800px;
	width: 100%;
}
.navbar{
	width: 960px;
	margin: auto;
	text-align: center;
	color: rgb(230,230,230);
}
	.navbar > #logo > a{
		font-size:25px;
		letter-spacing: 1px;
		padding: 0;
		padding-left: 20px;
		float: left;
	}
	.navbar > #logo > a:hover{
		color: rgb(230,230,230);
	}
	.navbar ul{
		float: right;
	}
	.navbar a{
		padding: 15px 15px;
		letter-spacing: 1px;
		color: rgb(230,230,230);
	}
	.navbar a:hover{
		color: rgb(50,50,50);
	}
	.navbar > ul > li{
		display: inline;
		font-weight: 400;
		font-size: 17px;
		float: left;
	}
		.navbar ul ul { 
			border-radius: 0px;
			position: absolute; 
			top: 100%;
			display: none;
			visibility: hidden;
		}	
		.navbar ul li:hover > ul {
			display: block;
			visibility: visible;
		}
		.navbar ul ul li {
			float: none; 
			border-top: 1px solid rgb(50,50,50);
			position: relative;
			text-align: left;
			background-color: rgb(70,70,70);
		}
		.navbar ul ul li:first-child{
			border-top: 2px solid rgb(50,50,50);
		}
		.navbar ul ul a:hover{
			color: #E85554;
		}

footer{
	background-color: rgb(50,50,50);
	padding: 40px;
}
footer p{
	color: rgb(230,230,230);
	font-weight: 300;
	font-size: 15px;
	float: left;
}
#sitefooter{
	width: 960px;
	margin:auto;
	overflow: hidden;
}
#sitefooter a{
	font-weight: 300;
	margin-right: 10px;
	color: rgb(230,230,230);
}
#sitefooter a:hover{
	color: #E85554;
}
.profielen{
	width: 100%;
}
.profiel{
	width: 300px;
	height: 225px;
	margin-bottom: 30px;
	margin-left:15px;
	float: left;
	-webkit-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.5);
	-ms-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.5);
	-o-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.5);
	background-color: rgb(252,252,252);
}
.profiel figure{
	float: left;
}
.profiel ul{
	overflow: hidden;
	padding-left: 20px;
}
.profiel > ul > li:first-child{
	font-weight: 600;
	letter-spacing: 3px;
	color: rgb(100,100,100);
}

#login{
	width: 350px;
	margin: auto;
}
#login input{
	width: 100%;
}
.error{
	width: 400px;
	height: auto;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px 30px;
	background-color: rgba(255,0,0,0.5);
}
#login input[type="submit"]{
	width: 100px;
	height: 100px;
	margin: auto;
}
.inputform label{
    float: left;
    width: 20%;
    text-align: right;
    margin-right: 0.5em;

    white-space: nowrap;
    overflow: hidden;
}
#tabs-1 i{
    font-size: 0.8em;
}

#tabs-1 h3{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: center;
	color: rgb(120,120,120);
}

.brands section{
	display: inline-block;
	width: 19%;
	padding: 2px;
}
.continue{
	padding: 30px;
}
.continue a{
	font-style: italic;
	text-decoration: underline;
}
.sidebar{
	width: 250px;
	/* margin-bottom: -5000px; /* any large number will do */
  	/* padding-bottom: 5000px; */
  	float:left;
  	background-color: rgb(60,60,60);
  	color: rgb(200,200,200);
  	text-decoration: none;
}
.sidebar ul{
	padding-top: 10px;
	padding-left: 10px;
	font-size: 17px;
	color: rgb(200,200,200);
}
.sidebar li{
	height: 1.7em;
	padding: 10px 20px;
}
.sidebar a{
	color: rgb(200,200,200);
}
.sidebar a:hover{
	color: #E85554;
}
.profilecontent{
	padding-left: 300px;
}
.profilecontent > div{
	border-bottom: 1px solid rgb(230,230,230);
	padding-bottom: 1em;
}
#profile-pic figure img{
	width: 250px;
	max-height: 400px;
}
#profile-name{
	background-color: rgb(40,40,40);
	margin-top: -5px;
	width: 210px;
	font-size: 25px;
	padding: 20px 20px;
	line-height: 1.2em;
}
.profilecontent h3{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: center;
	color: rgb(120,120,120);
}
#search h4{
	margin-top: 2em;
	margin-bottom: 0;
	font-weight: bold;
}